@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin 'tailwind-scrollbar';
@import 'highlight.js/styles/atom-one-dark';


@custom-variant dark (&:where(.dark, .dark *));


* {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.prose p {
    @apply leading-0.5;
}

.prose hr {
    @apply border-slate-300 border! dark:border-slate-600 my-8!;
}

::-webkit-scrollbar {
    height: 4px;
}

@keyframes scroll-hint {
    0% { transform: translateX(0); }
    50% { transform: translateX(-400px); }
    100% { transform: translateX(0); }
}

.rbc-calendar {
  @apply p-4 rounded-lg border-2 border-blue-300 dark:border-slate-500 dark:bg-slate-700 text-blue-900! dark:text-slate-200! font-semibold;
}

.rbc-calendar * {
  @apply border-blue-300! dark:border-slate-500! text-blue-900! dark:text-slate-200! transition-all! ease-in duration-100;
}

.rbc-off-range-bg {
  @apply bg-slate-300! dark:bg-slate-600! dark:text-blue-400! hover:opacity-80 transition-opacity! ease-in duration-100;
}

.rbc-day-bg, .rbc-timeslot-group {
  @apply cursor-pointer! hover:bg-slate-200 dark:hover:bg-slate-600 transition-colors ease-in duration-100; 
}

.rbc-today {
  @apply dark:bg-slate-600! bg-blue-200 hover:opacity-80 transition-opacity! ease-in duration-100;
}

/*  buttons calendar */

.rbc-btn-group button {
  @apply dark:bg-slate-700! hover:dark:bg-blue-400! bg-slate-200! hover:bg-blue-200!;
}

button.rbc-active {
  @apply bg-blue-300! dark:bg-blue-500!;
}

/* Event pill */

.rbc-event-content, .rbc-event-label {
  @apply text-slate-300!;
}

.rbc-event {
  @apply hover:opacity-80 transition-opacity! ease-in duration-100;
}
